body{
    height: 100%;
}
#index02{
    position: relative;
}
.type-items{
    position: absolute;
    bottom: 100px;
    right: 100px;
    display: inline-block;
}
.type-items .type-list{
    float: left;
    display: inline-block;
    margin-left: 15px;
    color: #fff;
}
.type-items .type-list a{
    color: #999;
}
.type-items .type-list a:hover{
    color: #7DDAFC;
}